# Environment variables for Supabase
NEXT_PUBLIC_SUPABASE_URL=https://nsspmeszahaajluejqzi.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zc3BtZXN6YWhhYWpsdWVqcXppIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTMwOTM2MjQsImV4cCI6MjA2ODY2OTYyNH0.ufs6BEzkfGstScrdd3cwHf1N1L3rxiSQyfdrQg9vpkE
